
.manage-schedule-container{
 
    .manage-schedule-title{
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        font-size: 17px;
        margin: 15px 0;
        
    }
}