.section-about{
    padding: 0 100px;

    .section-about-header{
        padding: 20px 10px;
        font-size: 22px;
        font-weight: 600;
    }

    .section-about-content{
        display: flex;
        gap: 15px;

        .content-left{
            width: 60%;
        }

        .content-right{
            width: 40%;
            padding: 15px;
        }
    }
}